*,
*::after,
*::before {

    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {

}

input[type="text"],
input[type="password"],
input[type="search"]
 {
    height: 30px;
    width: 250px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0px 4px;
}

select {
    border: 1px solid #000;
    border-radius: 3px;
    height: 30px;
    width: 250px; zc x /
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus
select:focus {
    outline: 1px solid blue;
}

ul li{
    list-style: none;
}

button {
    height: 30px;
    width: 70px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0px 4px;
}