<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ url_for("static", filename="icons/favicon.ico" ) }} type="image/x-icon">
    <link rel="stylesheet" href={{ url_for("static", filename="css/Keys.css" ) }}>
    <title>Document</title>
</head>

<body>
    <form action="">
        <div><label for="staffno">Staff No/ID</label>
            <select name="" id="staffno">
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
            </select>
        </div>
        <div><label for="keyno">Keys number</label>
            <select name="" id="keyno">
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
            </select>
        </div>
        <div><label for="Department">Department</label>
            <select name="" id="key">
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
                <option value="">Empghgh</option>
            </select>
        </div>
        <div>
            <button type="submit">Send</button>
        </div>
    </form>
</body>

</html>